<div class="card mb-4">
    <div class="card-header">
        <div style="display: inline-block;">Proyectos</div>
        <div class="float-right" style="display: inline-block;">{{cash}} $</div>
    </div>
    <div class="card-body">
        <div class="container">
            <div class="row">
                <div class="card-columns">
                    <app-card *ngFor="let p of proyectos" [p]="p" (subtraction)="subtraction($event)"></app-card>
                </div>
            </div>
        </div>
    </div>
</div>